## First import the dataset of the marine mammal distrubutions

In [93]:
import pandas as pd
import seaborn as sns
import numpy as np 
url = 'https://raw.githubusercontent.com/yveness7/Marine_Mammals_vs_Climate_Change_mid_term_project/main/mammals%20data/actic_mammals.csv'
df = pd.read_csv(url)
df

,Date,Latitude,Longitude,Location,Species,Adult M,Adult F,Adult,Subadult,Polar bear condition,Polar bear den,Cub/calf/pup,Bear cubs,Dead/alive,Unidentified,Total,Habitat,Occurrence remark
0,2000-07-29,78.55,25.416667,,balaena mysticetus,,,,,,,,,,,1,water,V. Large individual possibly a F
1,2000-08-08,79.1166666666667,21.441667,,balaena mysticetus,,,,,,,,,,,1,water,
2,2000-08-16,78.917,24.050000,,balaena mysticetus,,,,,,,,,,,1,water,
3,2001-08-08,79.268,20.858000,,balaena mysticetus,,,,,,,,,,,1,water,
4,2005-08-06,78.932,11.922000,Nye Ålesund,balaena mysticetus,,,,,,,,,,,1,water,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17370,2006-07-25,80.703,20.883000,Phippsøya,ursus maritimus,,,,,,,,,,,19,land,Feeding on whale carcass
17371,2010-09-21,80.1107,28.079700,Storøya,ursus maritimus,,5,,,,,7,,,,20,unknown,"Two females with yearlings, two females with ..."
17372,2012-07-11,79.01,20.500000,Hochstetterbreen,ursus maritimus,,2,,,,,3,,,,22,ice,
17373,2015-08-28,78.9354,28.635900,Kongsøya,ursus maritimus,0,5,18,7,0,,0,0,,0,30,land,Hele øya
17374,2004-09-01,79.869,27.179000,Italianeset,ursus maritimus,,,31,,,,1,,,,32,land,spread around island

## View the columns

In [94]:
df.columns

Index([' Date ', ' Latitude ', ' Longitude ', ' Location ', ' Species ',
       ' Adult M ', ' Adult F ', ' Adult ', ' Subadult ',
       ' Polar bear condition ', ' Polar bear den ', ' Cub/calf/pup ',
       ' Bear cubs ', ' Dead/alive ', ' Unidentified ', ' Total ', ' Habitat ',
       ' Occurrence remark '],
      dtype='object')

## Get spaces out of the column names

In [95]:

df.rename(columns=lambda x: x.strip(), inplace=True)
df.columns

Index(['Date', 'Latitude', 'Longitude', 'Location', 'Species', 'Adult M',
       'Adult F', 'Adult', 'Subadult', 'Polar bear condition',
       'Polar bear den', 'Cub/calf/pup', 'Bear cubs', 'Dead/alive',
       'Unidentified', 'Total', 'Habitat', 'Occurrence remark'],
      dtype='object')

## Change names to lower case

In [96]:
df.rename(columns=lambda x: x.lower(), inplace=True)
df.columns

Index(['date', 'latitude', 'longitude', 'location', 'species', 'adult m',
       'adult f', 'adult', 'subadult', 'polar bear condition',
       'polar bear den', 'cub/calf/pup', 'bear cubs', 'dead/alive',
       'unidentified', 'total', 'habitat', 'occurrence remark'],
      dtype='object')

## View the column 'species'

In [97]:
df.species.unique()

array([' balaena mysticetus ', ' balaenoptera acutorostrata ',
       ' balaenoptera borealis ', ' balaenoptera musculus ',
       ' balaenoptera physalus ', ' cystophora cristata ',
       ' delphinapterus leucas ', ' erignathus barbatus ',
       ' globicephala melas ', ' hyperoodon ampullatus ',
       ' lagenorhynchus albirostris ', ' megaptera novaeangliae ',
       ' monodon monoceros ', ' odobenus rosmarus ', ' orcinus orca ',
       ' phoca groenlandica ', ' phoca vitulina ',
       ' physeter macrocephalus ', ' pusa hispida ', ' ursus maritimus '],
      dtype=object)

## Remove the spaces before and after the scientific names

In [98]:
df['species'] = df['species'].str.strip()
df.species.unique()

array(['balaena mysticetus', 'balaenoptera acutorostrata',
       'balaenoptera borealis', 'balaenoptera musculus',
       'balaenoptera physalus', 'cystophora cristata',
       'delphinapterus leucas', 'erignathus barbatus',
       'globicephala melas', 'hyperoodon ampullatus',
       'lagenorhynchus albirostris', 'megaptera novaeangliae',
       'monodon monoceros', 'odobenus rosmarus', 'orcinus orca',
       'phoca groenlandica', 'phoca vitulina', 'physeter macrocephalus',
       'pusa hispida', 'ursus maritimus'], dtype=object)

## View how many we got from each species

In [99]:
df['species'].value_counts()

ursus maritimus               3558
odobenus rosmarus             2497
balaenoptera acutorostrata    2233
balaenoptera physalus         1632
erignathus barbatus           1386
megaptera novaeangliae        1088
phoca groenlandica            1073
lagenorhynchus albirostris    1014
pusa hispida                   885
phoca vitulina                 437
cystophora cristata            407
delphinapterus leucas          386
balaenoptera musculus          332
physeter macrocephalus         160
balaena mysticetus              85
orcinus orca                    66
hyperoodon ampullatus           49
monodon monoceros               40
balaenoptera borealis           35
globicephala melas              12
Name: species, dtype: int64

## Rename the species to their common names

In [100]:
df['species'] = df['species'].replace({'ursus maritimus': 'polar bear',
                                       'odobenus rosmarus':'walrus',
                                      'balaenoptera acutorostrata': 'common minkie whale',
                                       'balaenoptera physalus':'fin whale',
                                       'erignathus barbatus':'bearded seal',
                                       'megaptera novaeangliae':'humpback whale',
                                       'phoca groenlandica':'harp seal',
                                       'lagenorhynchus albirostris':'white beaked dolphin',
                                       'pusa hispida':'ringed seal',
                                       'phoca vitulina':'harbor seal',
                                       'cystophora cristata':'hooded seal',
                                       'delphinapterus leucas':'beluga whale',
                                       'balaenoptera musculus':'blue whale',
                                       'physeter macrocephalus':'sperm whale',
                                       'balaena mysticetus':'bowhead whale',
                                       'orcinus orca':'orca',
                                        'hyperoodon ampullatus':'northern bottlenose whale',
                                       'monodon monoceros':'narwhal',
                                       'balaenoptera borealis':'sei whale',
                                       'globicephala melas':'long-finned pilot whale' })

## View the common names to check if everything is alright

In [102]:
df.species.unique()

array(['bowhead whale', 'common minkie whale', 'sei whale', 'blue whale',
       'fin whale', 'hooded seal', 'beluga whale', 'bearded seal',
       'long-finned pilot whale', 'northern bottlenose whale',
       'white beaked dolphin', 'humpback whale', 'narwhal', 'walrus',
       'orca', 'harp seal', 'harbor seal', 'sperm whale', 'ringed seal',
       'polar bear'], dtype=object)

In [103]:
df['species'].value_counts()

polar bear                   3558
walrus                       2497
common minkie whale          2233
fin whale                    1632
bearded seal                 1386
humpback whale               1088
harp seal                    1073
white beaked dolphin         1014
ringed seal                   885
harbor seal                   437
hooded seal                   407
beluga whale                  386
blue whale                    332
sperm whale                   160
bowhead whale                  85
orca                           66
northern bottlenose whale      49
narwhal                        40
sei whale                      35
long-finned pilot whale        12
Name: species, dtype: int64

## View locations

In [104]:
df.location.unique()

array([' ', ' Nye Ålesund ', ' Fram Strait ', ..., ' Freemandsundut ',
       ' Kapp Hammerfest ', ' Italianeset '], dtype=object)

## Replace empty spaces in the names

In [105]:
df['location'] = df['location'].str.strip()
df.location.unique()

array(['', 'Nye Ålesund', 'Fram Strait', ..., 'Freemandsundut',
       'Kapp Hammerfest', 'Italianeset'], dtype=object)

In [107]:
df.location.value_counts()

                  7544
Poolepynten        189
Moffen             184
ditto              156
Liefdefjorden      141
                  ...
Pyramiden            1
79.27N-019.52E       1
8038N 0172E          1
7857N 01152E         1
Italianeset          1
Name: location, Length: 2608, dtype: int64

## Check unique locations

In [108]:
df.location.nunique() #2608 unique locations

2608

## Check unique date locations

In [109]:
df.date.nunique()

2120

## Check n of unique habitats

In [110]:
df.habitat.nunique()

21

## Lower case and sprip that spaces from the habitats

In [111]:
df['habitat'] = df['habitat'].str.strip()
df['habitat'] = df['habitat'].str.lower()
df.habitat.unique()

array(['water', 'unknown', '', 'ice', 'land', 'ocean', 'at sea',
       'at sea, ice edge', 'glacier ice', 'in hornsund', 'swimming',
       'on land', 'land, water', 'swimming & on ice', 'beach',
       'shore and water', '19.00 martin', 'fast ice', 'pack ice'],
      dtype=object)

In [112]:
#maybe group them a bit better to have less categories, but do we really need them?

## Drop the columns that we are not going to use for the purpose of the analysis

In [113]:
df.columns

Index(['date', 'latitude', 'longitude', 'location', 'species', 'adult m',
       'adult f', 'adult', 'subadult', 'polar bear condition',
       'polar bear den', 'cub/calf/pup', 'bear cubs', 'dead/alive',
       'unidentified', 'total', 'habitat', 'occurrence remark'],
      dtype='object')

In [114]:
df = df.drop(['adult m', 'adult f', 'adult', 'subadult', 
              'polar bear condition', 'polar bear den', 
              'cub/calf/pup','bear cubs','dead/alive',
             'unidentified','occurrence remark'], axis=1)

In [115]:
df

,date,latitude,longitude,location,species,total,habitat
0,2000-07-29,78.55,25.416667,,bowhead whale,1,water
1,2000-08-08,79.1166666666667,21.441667,,bowhead whale,1,water
2,2000-08-16,78.917,24.050000,,bowhead whale,1,water
3,2001-08-08,79.268,20.858000,,bowhead whale,1,water
4,2005-08-06,78.932,11.922000,Nye Ålesund,bowhead whale,1,water
...,...,...,...,...,...,...,...
17370,2006-07-25,80.703,20.883000,Phippsøya,polar bear,19,land
17371,2010-09-21,80.1107,28.079700,Storøya,polar bear,20,unknown
17372,2012-07-11,79.01,20.500000,Hochstetterbreen,polar bear,22,ice
17373,2015-08-28,78.9354,28.635900,Kongsøya,polar bear,30,land
17374,2004-09-01,79.869,27.179000,Italianeset,polar bear,32,land

In [116]:
df['habitat'].value_counts() #maybe we dont need habitat at all actually

water                5822
unknown              4456
land                 2778
ice                  2533
                     1757
fast ice                5
at sea                  5
pack ice                4
ocean                   4
at sea, ice edge        2
glacier ice             1
swimming                1
on land                 1
land, water             1
swimming & on ice       1
beach                   1
shore and water         1
19.00 martin            1
in hornsund             1
Name: habitat, dtype: int64

## Now we need to fix the location

In [117]:
df['location'].value_counts()

                  7544
Poolepynten        189
Moffen             184
ditto              156
Liefdefjorden      141
                  ...
Pyramiden            1
79.27N-019.52E       1
8038N 0172E          1
7857N 01152E         1
Italianeset          1
Name: location, Length: 2608, dtype: int64

In [118]:
df['location'].fillna('N',inplace=True)
df['location'].value_counts()

                  7544
Poolepynten        189
Moffen             184
ditto              156
Liefdefjorden      141
                  ...
Pyramiden            1
79.27N-019.52E       1
8038N 0172E          1
7857N 01152E         1
Italianeset          1
Name: location, Length: 2608, dtype: int64

## We'll try to clean the latitude and longtiture column and strip the data from empty spaces

In [119]:
df['latitude'] = df['latitude'].str.strip()
#df['longitude'] = df['longitude'].str.strip()

In [120]:
df.dtypes

date          object
latitude      object
longitude    float64
location      object
species       object
total         object
habitat       object
dtype: object

## We need to convert the longiture into an object

In [34]:
df['longitude'] = df.longitude.astype(object)

In [35]:
df.dtypes

date         object
latitude     object
longitude    object
location     object
species      object
total        object
habitat      object
dtype: object

In [38]:
df['longitude'] = df['longitude'].str.strip()

AttributeError: Can only use .str accessor with string values!

## How to fix the geolocation data

   1. Use GeoPy to find the country for each non-blank location.
   2. Handle any exceptions or locations that GeoPy cannot resolve.
   3. Update the DataFrame with the new country information.
   4. Display the updated DataFrame.

In [121]:
df['location'].value_counts()

                  7544
Poolepynten        189
Moffen             184
ditto              156
Liefdefjorden      141
                  ...
Pyramiden            1
79.27N-019.52E       1
8038N 0172E          1
7857N 01152E         1
Italianeset          1
Name: location, Length: 2608, dtype: int64

In [141]:
norway = lambda x:'Norway' if isinstance(x, str) and any(keyword in x for keyword in ['Poolepynten',
                                                                                   'Moffen','Liefdefjorden',
                                                                                   'Pyramiden','79.27N-019.52E',
                                                                                      'South of Fugelsangen',
                                                                                      'Fast ice, Sallyhamna',
                                                                                     'Entrance to Leifdefjorden',
                                                                                      'Smeerenburg','Fuglefjorden',
                                                                                      'Woodfjorden','Woodfjord',
                                                                                      'Nye Ålesund',
                                                                                      'Phippsøya',
                                                                                      'Hochstetterbreen',
                                                                                      'Kongsøya',
                                                                                      'Storøya',
                                                                                      'Torellneset',
                                                                                      'Andøyane',
                                                                                      'Hornsund',
                                                                                      'Isfjorden',
                                                                                      'Freemansundet',
                                                                                      'Isflaksbukta',
                                                                                      'Freemansundet',
                                                                                      'Magdalenefjorden',
                                                                                      'Virgohamna',
                                                                                      'Kongsfjorden',
                                                                                      'Storfjorden',
                                                                                      'Holmiabukta',
                                                                                      'Hamiltonbukta',
                                                                                      'Hinlopenstretet',
                                                                                      'Alkefjellet',
                                                                                      'Smeerenbergbukta',
                                                                                      'Selmaneset',
                                                                                      'Malbukta',
                                                                                      'hornbreen',
                                                                                      'Belmøya','Freemandsundut',
                                                                                      'Hinlopen',
                                                                                      'Trygghamna',
                                                                                      'Brandalpynten',
                                                                                      'Mushamna',
                                                                                      'Forlandsundet',
                                             'LützowHolmodden',
'Glitneset',
'Lillienhöökfjorden-Signehamna'
'Norskøyasundet'                    
'Kapp Hammerfest'     ,                                   'Lågøya',
                                                                                      'Raudfjorden',
'Fram Strait' ,                       
'Ny-Ålesund'  ,                      
                                 
'Magdalenafjorden NV'  ,               
'Lillienhöökfjorden-Signehamna'  ,     
'Norskøyasundet'        ,             
'Whalbergøya'   ,                      
'Kapp Hammerfest '   ,                                                                                   'Tyneset','Isispynten',
  'Sveasletta' ,              
'N of Ytre Norskøya',       
'Reinsdyrstranda' ,        
'Boltholmen'    ,           
'Kapp Hammerfest'  ,                                                                                  'Kvitøya','Palanderbukta',
                                                                                      'Lomfjorden',
                                                                                      'Vibebukta','Monacobreen',
                                                                                      'Bråsvellbreen',
                                                                                      'Burgerbukta',
                                                                                      'Svenskøya','Bjornhamna',
                                                                                      'Sørgattet','Brepollen',
                                                                                      'Dolerittneset',
                                                                                      'Olgastretet','Krossfjorden',
                                                                                      'Kræmerpynten','Murchisonfjorden',
                                                                                      'Hopen MeteoStation',
                                                                                      'Svartskjer',
                                                                                      'Kapp Lee','Ny Ålesund',
                                                                                      'E Edgeoya','Sallyhamna',
                                                                                      'Nordenskioldkysten',
                                                                                      'Recherchefjorden'
                                                                                      
                                                                                      
                                                                                
                                                                                      
                                                                                      
                                                                                      
                                                                                      
                                                                                   ]) else x


df['location'] = df['location'].apply(norway)
df['location'].value_counts()


unknown = lambda y:'Unknown' if isinstance(y, str) and any(keyword in y for keyword in ['ditto','Italianeset',
                                                                                        'Wikinsbukta','Sea',
                                                                                        'Pack-ice','Vågehval',
                                                                                        '      ','in ice','Pack ice',
                                                                                        'Pack Ice',
                                                                                        'pack ice'
                                                                                    ]) else y


df['location'] = df['location'].apply(unknown)
df['location'].value_counts()

                         7544
Norway                   4133
Unknown                   601
Ardneset                   26
Bellsund                   25
                         ...
Nilspollen                  1
Forlandsrevet               1
Magdalenebåen               1
80°45.30'N 21°30.20'E       1
Alfarvegen                  1
Name: location, Length: 2122, dtype: int64

In [142]:
df['location']

0
1
2
3
4         Norway
          ...
17370     Norway
17371     Norway
17372     Norway
17373     Norway
17374    Unknown
Name: location, Length: 17375, dtype: object

In [88]:
df['location'] = df['location'].fillna('N')
df['location']

0
1
2
3
4         Norway
          ...
17370     Norway
17371     Norway
17372     Norway
17373     Norway
17374    Unknown
Name: location, Length: 17375, dtype: object

## apply masks on the latitude and longitude

In [47]:
mask = (df['latitude'] > 35) & (df['longitude'] > 0)

# Apply the mask to the DataFrame
filtered_df = df[mask]

# Display the filtered DataFrame
print(filtered_df)

AttributeError: 'Norway' is not a valid function for 'Series' object